name: build-test-publishcontainers

on:
  push:
    paths-ignore:
      - 'charts/**'
      - '**.md'
  pull_request:
    paths-ignore:
      - 'charts/**'
      - '**.md'

permissions: read-all

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      GOPATH: ${{ github.workspace }}/../go
      HOME: ${{ github.workspace }}/..
    services:
      postgres:
        image: postgres
        ports:
         - 5432:5432
        env:
          POSTGRES_PASSWORD: tarian
          POSTGRES_DB: tarian
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    steps:
      # setup
      - uses: actions/checkout@7884fcad6b5d53d10323aee724dc68d8b9096a2e # @2.4.2
        with:
          submodules: 'recursive'
      - uses: actions/setup-go@424fc82d43fa5a37540bae62709ddcc23d9520d4 # @v2.1.5
        with:
          go-version: '1.17'

      # prepare
      - run: sudo apt update && sudo apt install -y pkg-config libelf-dev clang
      - run: go install github.com/mgechev/revive@latest
      - run: go install honnef.co/go/tools/cmd/staticcheck@latest
      - run: go install google.golang.org/protobuf/cmd/protoc-gen-go@32051b4f86e54c2142c7c05362c6e96ae3454a1c # @v1.28.0
      - run: go install google.golang.org/grpc/cmd/protoc-gen-go-grpc@938f6e2f7550e542bd78f3b9e8812665db109e02 # @v1.1.0
      - run: make bin/protoc

      - run: make build
      - run: make lint
      - run: make unit-test
      - run: make e2e-test

  k8s-test:
    runs-on: ubuntu-latest
    env:
      GOPATH: ${{ github.workspace }}/../go
      HOME: ${{ github.workspace }}/..
    needs: build
    steps:
      - uses: actions/checkout@7884fcad6b5d53d10323aee724dc68d8b9096a2e # @2.4.2
        with:
          submodules: 'recursive'
      - uses: actions/setup-go@424fc82d43fa5a37540bae62709ddcc23d9520d4 # @v2.1.5
        with:
          go-version: '1.17'
      - name: Set up Helm
        uses: azure/setup-helm@18bc76811624f360dbd7f18c2d4ecb32c7b87bab # @v1.1
      - uses: helm/kind-action@94729529f85113b88f4f819c17ce61382e6d8478 # @v1.2.0
        name: Create k8s cluster
        with:
          config: 'dev/cluster-config.yaml'

      # prepare for build
      - run: sudo apt update && sudo apt install -y jq pkg-config libelf-dev clang
      - run: go install google.golang.org/protobuf/cmd/protoc-gen-go@32051b4f86e54c2142c7c05362c6e96ae3454a1c # @v1.28.0
      - run: go install google.golang.org/grpc/cmd/protoc-gen-go-grpc@938f6e2f7550e542bd78f3b9e8812665db109e02 # @v1.1.0
      - run: make bin/protoc bin/goreleaser

      # build images
      - run: bash ./dev/run-kind-registry.sh
      - run: make ebpf generate
      - run: ./bin/goreleaser release --snapshot --rm-dist
      - run: make push-local-images
      - run: cp dist/tarianctl_linux_amd64/tarianctl ./bin/

      # deploy to k8s
      - run: make deploy

      # wait for deployment rollout
      - name: Wait for pods ready
        run: |
          kubectl wait --for=condition=ready pod --all --all-namespaces --timeout=1m || true
          kubectl wait --for=condition=ready pod --all --all-namespaces --timeout=1m || true
          kubectl wait --for=condition=ready pod --all --all-namespaces --timeout=1m || true
          kubectl get pods --all-namespaces
          kubectl get deployment --all-namespaces
          kubectl get svc --all-namespaces
          sleep 5s

      - run: make k8s-test

  publish-containers:
    needs: k8s-test
    if: ${{ github.ref == 'refs/heads/main' || startsWith(github.ref, 'refs/tags/v') }}
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: write
    env:
      GOPATH: ${{ github.workspace }}/../go
      HOME: ${{ github.workspace }}/..
    steps:
      - uses: actions/checkout@7884fcad6b5d53d10323aee724dc68d8b9096a2e # @2.4.2
        with:
          submodules: 'recursive'
      - uses: actions/setup-go@424fc82d43fa5a37540bae62709ddcc23d9520d4 # @v2.1.5
        with:
          go-version: '1.17'
      - run: sudo apt update && sudo apt install -y jq pkg-config libelf-dev clang
      - run: go install google.golang.org/protobuf/cmd/protoc-gen-go@32051b4f86e54c2142c7c05362c6e96ae3454a1c # @v1.28.0
      - run: go install google.golang.org/grpc/cmd/protoc-gen-go-grpc@938f6e2f7550e542bd78f3b9e8812665db109e02 # @v1.1.0
      - run: make bin/protoc ebpf bin/goreleaser
      - name: Login to GitHub Container Registry
        uses: docker/login-action@42d299face0c5c43a0487c477f595ac9cf22f1a7 # @v1.12.0
        with:
          registry: ghcr.io
          username: devopstoday11
          password: ${{ secrets.GITHUB_TOKEN }}
      - run: |
          if [[ $GITHUB_REF == refs/tags/v* ]]; then
            ./bin/goreleaser
          elif [[ $GITHUB_REF == refs/heads/main ]]; then
            ./bin/goreleaser --snapshot
          fi
        env:
          CONTAINER_REGISTRY: ghcr.io/${{ github.repository_owner }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - run: docker images
      - run: |
          if [[ $GITHUB_REF == refs/heads/main ]]; then
            docker push ghcr.io/${{ github.repository_owner}}/tarian-server
            docker push ghcr.io/${{ github.repository_owner}}/tarian-cluster-agent
            docker push ghcr.io/${{ github.repository_owner}}/tarian-node-agent
            docker push ghcr.io/${{ github.repository_owner}}/tarian-pod-agent
          fi

